*{
    margin: 0%;
    padding: 0%;
}
    
nav ul{
    top: 0%;
    /* position: fixed; */
    list-style: none;
    display: flex;
    background-color: black;
    width: 100%;
    z-index: 5;
}
    
.logo
{
    padding: 8px 60px 8px 60px;
}
.logo img
    {
        width: 180px;
    }
    
nav li
{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom:16px ;
    
}

nav a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size:14px;
    font-weight: bold;
    line-height: 24px;
}

nav li:hover
{
    color:rgb(51, 122, 183) ;
}

.authentPage
{
    height: 100%;
    display: flex;
        
}

.leftDiv
{
    width: 50%;
    /* margin-top: 3%; */
    background-color: black;
    background-image: url(../images/ycd.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.leftDiv img
{
    position: absolute;
    width: 10%;
    margin: 5% 0 0 19%;
    
}
    
.rightDiv
{
    width: 50%;
    margin-left: 48px;
    margin-top: 8%;
}

.connexion
{
    display: flex;
    margin-bottom: 32px;
}

.connexion h3
{
    color: rgb(0, 138, 255);
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
    font-size: xx-large;


}

.connexion p
{
    color: rgb(51, 122, 183);
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
}

.connexion img
{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.connexionform
{
margin-top: 10%}