*{
    margin: 0%;
    padding: 0%;
}
    
nav ul{
    top: 0%;
    /* position: fixed; */
    list-style: none;
    display: flex;
    background-color: black;
    width: 100%;
    z-index: 5;
}
    
.logo
{
    padding: 8px 60px 8px 60px;
}
.logo img
    {
        width: 180px;
    }
    
nav li
{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom:16px ;
    
}

nav a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size:14px;
    font-weight: bold;
    line-height: 24px;
}

nav li:hover
{
    color:rgb(51, 122, 183) ;
}

.authentPage
{
    height: 100%;
    display: flex;
        
}

.leftDiv
{
    width: 50%;
    background-size: contain;
}

.studentLogo
{
    height: 90%;
    width: 90%;
    margin: 60px auto;
    background-image: url(../images/graduate.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    box-shadow: 0px 0px 8px 16px rgb(0, 138, 255, .2) ;
}
    
.rightDiv
{
    width: 50%;
    margin-left: 10%;
    margin-top: 100px;
}

.connexion
{
    display: flex;
    margin-bottom: 32px;
}

.connexion h3
{
    color: rgb(0, 138, 255);
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
    font-size: xx-large;
}

.connexion p
{
    color: rgb(51, 122, 183);
    font-family: 'Montserrat', sans-serif;
    margin-left: 24px;
}

.connexion img
{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.connexionform
{
margin-top: 10%
}
input[type=email]
{
    font-size: 32px;
    margin: 8px;
    border: 1px solid rgb(0, 138, 255);
    border-radius: 0px 8px 0px 0px;
}
input[type=password]
{
    font-size: 32px;
    margin: 8px;
    border: 1px solid rgb(0, 138, 255);
    border-radius: 0px 0px 0px 8px;
}
input[type=button]
{
    height: 32px;
    width: 160px;
    padding: 8 auto;
    margin: 16px 0 0 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
    color: white;
    background-color: rgb(0, 138, 255);
    border: rgb(0, 138, 255);
    box-shadow: 0px 0px 12px 12px rgb(0, 138, 255, 0.2) ;
    border-radius: 30px;

}
input[type=button]:hover
{
    background-color:white ;
    color:rgb(0, 138, 255) ;
    box-shadow: 0px 8px 8px 8px rgba(2, 2, 2, 0.1) ;

}

.inscreption
{
    display: flex;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin: 100px 20 100px 100;

}
.inscreption button
{
    padding: 12px 240px 12px 240px;
    margin: 0 0 0 200px;
    color: white;
    background-color: rgb(0, 138, 255);
    border: rgb(0, 138, 255);
    box-shadow: 0px 0px 12px 12px rgb(0, 138, 255, 0.2) ;
    border-radius: 30px;
}
.inscreption button:hover
{
    background-color:white ;
    color:rgb(0, 138, 255) ;
    box-shadow: 0px 8px 8px 8px rgba(2, 2, 2, 0.1) ;
}

footer
{
    background-color: black;
    display: flex;
    width: 100%;
}

.contactez p
{
    color: rgb(119, 119, 119);
    font: 16px sans-serif;
    letter-spacing: 0.08em;
    padding: 8px 0px 0px 32px;
    
}

.youcode
{
    margin: 24px 30% 0 30% ;
    color: rgb(119, 119, 119);
    font:  15px sans-serif;
    letter-spacing: 0.08em;
}

.suivez
{
    color:rgb(119, 119, 119);
    font: 16px sans-serif;
    letter-spacing: 0.08em;
    padding: 8px  16px 8px 16px;
}

footer ul
{   
    display: flex;
    list-style: none;
    float: right;
    bottom: 0;
}

footer ul li
{
    padding:8px;
}