*{
margin: 0%;
padding: 0%;
}
/* ---------------------------------------------START TOP NAVBAR--------------------------------------------------- */
nav ul{
    top: 0%;
    position: fixed;
    list-style: none;
    display: flex;
    background-color: black;
    width: 100%;
    z-index: 5;
}

nav li
{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom:16px ;
}
nav a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size:14px;
    font-weight: bold;
    line-height: 24px;
}

nav li a:hover
{
    color:rgb(51, 122, 183) ;
}

.logo
{
    padding: 8px 60px 8px 60px;
}
.logo img
    {
        width: 180px;
    }
/* ---------------------------------------------END TOP NAVBAR--------------------------------------------------- */

/* ---------------------------------------------START LEFT NAVBAR------------------------------------------------ */


.leftNav{
    position: fixed;
    list-style: none;
    margin-top: 3.5%;
    height: 85%;
    width: 20%;
    background-color: rgb(0, 138, 255);
    box-shadow:8px 8px 8px 8px rgb(0, 138, 255, .2);
    opacity: 1;

}

.leftNav li
{
    padding: 8 16 16 0;
}

.leftNav a
{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.leftNav li img
{
    padding: 0 0 0 16;
    padding-right: 16px;  
}
.imgProfil
{
    display: flex;
}
.imgProfil p
{
    padding-left: 42px;
    padding-top:16px ;
}

/* ---------------------------------------------END LEFT NAVBAR------------------------------------------------ */

.parent
{
    display: flex;
}
.child1
{
    width: 20%;
    color: white;
    visibility: hidden;
}
.child2
{
    height: 100%;
    width: 100%; 
    background-image: url(../images/Untitled.png);
    margin-top:60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.adaImg
{
    /* display: flex; */
    height: 100px;
    width: 134px;
    /* position: fixed; */
    margin-top: 8%;
    margin-left: 12%;
}
.adaTitle
{
    margin-top:14% ;
    margin-left: 27.7%;
    margin-bottom: 12%;
    color: rgb(0, 138, 255);        
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.Title
{
    font-size: 48px;
}
.date
{
    font-size: 32px;
}
.branche
{
    font-size: 32px;
}
.color
{
    color: white;
}

.Name
{
    margin-left: 48%;
    margin-top: 20%;
    color: rgb(0, 138, 255);        
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer
{
    display: flex;
    background-color: black;

}
.contactez p
{
    color: rgb(119, 119, 119);
    font: 16px sans-serif;
    letter-spacing: 0.08em;
    padding: 8px 0px 0px 32px;

}

.youcode
{
    padding: 24px 200px 0 350px;
    color: rgb(119, 119, 119);
    font:  15px sans-serif;
    letter-spacing: 0.08em;
}
.suivez
{
    color:rgb(119, 119, 119);
    font: 16px sans-serif;
    letter-spacing: 0.08em;
    padding: 8px  16px 8px 16px;
}
footer ul
{   
    display: flex;
    list-style: none;
    float: right;
    bottom: 0;
}

footer ul li
{
    padding:8px;
}




